	
		<nav class="sidebar-navigation col-md-1 col-xs-3">
			<ul >
				<li class="li0">
					<a href=""><img src="/assets/img/Logo.png" alt="" class="logonav"></a>

				</li>
				<a href="/usuarios"><li class="li1">
					<img src="/assets/img/icono-usuario.png" alt="" class="icononav"><br>
					Usuarios
					
				</li></a>
				<a href="/comandas"><li  class="li1">
					<img src="/assets/img/icono-comandas.png" alt="" class="icononav"><br>
					Comandas
					
				</li></a>
				<a href="/menu"><li  class="li1">
					<img src="/assets/img/icono-menu.png" alt="" class="icononav"><br>
					Menu 
					
				</li></a>
				<a href="/entregas"><li  class="li1">
					<img src="/assets/img/icono-entregas.png" alt="" class="icononav"><br>
					Entregas
					
				</li></a>
				<a href="/reportes"><li  class="li1">
					<img src="/assets/img/icono-reportes.png" alt="" class="icononav"><br>
					Reportes
					
				</li></a>
			</ul>
		</nav>



