<nav class="navalimento">

    <ul>
        <li><a href="#home">Desayunos</a></li>
        <li><a href="#news">Comidas</a></li>
        <li><a href="#contact">Cenas</a></li>
        <li><a href="#contact">Colación</a></li>
 
        <li style="float:right"><a class="active" href="#about">About</a></li>
    </ul>
</nav>