<nav class="navalimento">

    <ul>
        <li><a href="/menu">Desayunos</a></li>
        <li><a href="/menuComidas">Comidas</a></li>
        <li><a href="/menuCenas">Cenas</a></li>
        <li><a href="/menuColaciones">Colación</a></li>
        <li><a href="/menuFechas">Fechas</a></li>
        <li style="float:right"><a class="active" href="#about">About</a></li>
    </ul>
</nav>