<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/estilos.css">
    <title>Easy Eat Login</title>
</head>

<body>
    <div class="container">
        
        <div class="login1">
            <div id="formcontainer">   
                <div id="formlogin">
                    <img src="/assets/img/Logo.png" alt="">
                    <form action="action_page.php">
                        
                        <div>
                            <label for="uname" style="color: #00C7A9"><b> • Email</b></label>
                            <br>
                            <input type="text" placeholder="Tu Email" name="uname"  class="input" required>
                            
                            <label for="psw" style="color: #00C7A9"><b> • Contraseña</b></label>
                            <br>
                            <input type="password" placeholder="Tu Contraseña" name="psw" class="input" required>
                            <label>
                            <input type="checkbox" checked="checked" name="remember"> Recordarme
                            </label>
                            <br>
                            <br>
                            <center>
                            <button type="submit" class="loginbuttom">Signup</button>
                            </center>
                            <br>
                            
                            
                        </div>
                        
                    </form>
                </div>
            </div>
           
        </div>
        <div class="login2">
                <div class="logo"/>

                
        </div>

    </div>
</body>

</html>