<!DOCTYPE html>
<html lang="en">

{{> head }}

<body>

    <div class="col-md-12 col-xs-12">

    
    
       <div class="col-md-6 col-xs-6" class="background-color:white; height:99vh">

       </div>

       <div class="col-md-6 col-md-offset-6 col-xs-6 col-xs-offset-6" style="background-color: #00C7A9; height:99vh">
           <center>
               <div style="width: 100%;">
                   <img src="/assets/img/login-hippo.png" alt="" class="logohippo">
                   
               </div>
               

           </center>

       </div>
    
    </div>

    
</body>

</html>