<!DOCTYPE html>
<html lang="en" ng-app='app'>
    {{> head}}
    {{> navbar}}
  <body ng-controller='controlador'>
   <nav class="navbar navbar-default nav-colorverde col-md-offset-1 col-xs-offset-3" role="navigation">
  <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-ex1-collapse">
      <span class="sr-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    
  </div>
 
  <!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
        <li id="desayunos"><a href="/menu">Desayunos</a></li>
        <li id="comidas"><a href="/menuComidas">Comidas</a></li>
        <li id="cenas"><a href="/menuCenas">Cenas</a></li>
        <li id="colaciones"><a href="/menuColaciones">Colación</a></li>
        <li id="fechas"><a href="/menuFechas">Fechas</a></li>
    </ul>
 
    <ul class="nav navbar-nav navbar-right" style="float:right"> 
      <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="\{{ imagenTipo }}" alt="" class="circular--squareUser"> \{{ nombreTipo }} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                    <li><a href="" ng-click="logout();$event.stopPropagation();">Cerrar Sesion</a></li>
          
        </ul>
      </li>
    </ul>
  </div>
</nav>

<br>
    <div class='col-md-2 col-md-offset-5 col-xs-7 col-xs-offset-3'>
        <input type='text' class="form-control" id='datetimepicker4' ng-model="frmData.fecha" ng-change="llamarMenu();$event.stopPropagation();"/>
    </div>
    <br> 
    
    <div class="col-md-10 col-md-offset-1   col-xs-offset-3  col-xs-8">
        <br><br><br>
        <div class="col-md-2 col-md-offset-1 form-group">
            <img src="/assets/img/desayuno-menu.png" alt="" class="img imagenfechaD col-md-opposite-1" >
            <br>
            <select ng-model="frmData.desayuno1" ng-options="desayuno as desayuno.nombre for desayuno in desayunos track by desayuno.id" class="form-control" >
                <option value="">--Elige el desayuno principal--</option>
            </select>
            <br>
            <select ng-model="frmData.desayuno2" ng-options="desayuno as desayuno.nombre for desayuno in desayunos track by desayuno.id" class="form-control" >
                <option value="">--Elige el desayuno 1--</option>
            </select>
            <br>
            <select ng-model="frmData.desayuno3" ng-options="desayuno as desayuno.nombre for desayuno in desayunos track by desayuno.id" class="form-control" >
                <option value="">--Elige el desayuno 2--</option>
            </select>
        </div>
        <div class="col-md-2 col-md-offset-1 form-group">
            <img src="/assets/img/comida-menu.png" alt="" class="imagenfechaCo img" >
            <br><br>
            <select ng-model="frmData.comida1" ng-options="comida as comida.nombre for comida in comidas track by comida.id"  class="form-control" >
                <option value="">--Elige el comida principal--</option>
            </select>
            <br>
            <select ng-model="frmData.comida2" ng-options="comida as comida.nombre for comida in comidas track by comida.id"  class="form-control" >
                <option value="">--Elige el comida 1--</option>
            </select>
            <br>
            <select ng-model="frmData.comida3" ng-options="comida as comida.nombre for comida in comidas track by comida.id"  class="form-control" >
                <option value="">--Elige el comida 2--</option>
            </select>
        </div>
        <div class="col-md-2 col-md-offset-1 form-group">
             <img src="/assets/img/cena-menu.png" alt="" class="img imagenfechaCe col-md-opposite-1" >
            <br><br>
            <select ng-model="frmData.cena1" ng-options="cena as cena.nombre for cena in cenas track by cena.id"  class="form-control" >
                <option value="">--Elige el cena principal--</option>
            </select>
            <br>
            <select ng-model="frmData.cena2" ng-options="cena as cena.nombre for cena in cenas track by cena.id"  class="form-control" >
                <option value="">--Elige el cena 1--</option>
            </select>
            <br>
            <select ng-model="frmData.cena3" ng-options="cena as cena.nombre for cena in cenas track by cena.id"  class="form-control" >
                <option value="">--Elige el cena 2--</option>
            </select>
            
        </div>
        <div class="col-md-2 col-md-offset-1 form-group">
           <img src="/assets/img/colacion-menu.png" alt="" class="img imagenfechaCol col-md-opposite-1" >
           <br><br>
            <select ng-model="frmData.colacion1" ng-options="colacion as colacion.nombre for colacion in colaciones track by colacion.id"  class="form-control">
                <option value="">--Elige el colacion mañana--</option>
            </select>
            <br>
            <select ng-model="frmData.colacion2" ng-options="colacion as colacion.nombre for colacion in colaciones track by colacion.id"  class="form-control">
                <option value="">--Elige el colacion tarde--</option>
            </select>
        </div>
        
        <div class="row">

            <div class=" from-group anchoboton btn button" style="width:100%">
                <br>
                <button ng-hide="loading" type="submit" class="formbuttom btn" ng-click="agregarMenu();$event.stopPropagation();">Subir menú</button>
            </div>
            <div ng-show="loading" class="loading col-md-2 col-md-offset-4"><img src="/assets/img/loading.gif"></div>
        </div>
            
            
    </div>
    <br>
    

    
    



<script type="text/javascript">
    $('#datetimepicker4').datepicker({
                                     beforeShowDay: $.datepicker.noWeekends,
                                     dateFormat: "yy-mm-dd",
                                     minDate: '+2d',
                                     dayNamesMin: [ "Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab" ],
                                     monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ],
                                    });
 
</script>


   
</body>
</html>



<script src="/assets/js/Controllers/Menu/MenuFechaController.js"> </script>